

.logo-img {
    width: 40%;
    margin-bottom: 5%;
    margin-top: 2%;
}

.header-area {
    display: flex;
    justify-content: center;

}

.content-container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.serviceForm {
   display: flex;
   justify-content: space-around;

}

.clown-img {
    width: 70%;
    margin-left: 10%;
}
 .balloon-img {
    width: 90%;
    margin-left: 50%;
 }

.field-area {
    width: 50%;
    margin-left: 8%;
}


.field {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.field-area-text {
    color: rgb(193, 92, 179);
}
.label {
    font-size: 20px;
}
 .button {
    margin: 2rem 0 2rem 0rem;
    padding: 1.1rem;
    font-size: 1.2rem;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 0.5s;  
    box-shadow: 2px 2px 5px rgb(42, 42, 42);
 }

 .button1:hover {
    background-color:#BBD360; 
    color: black; 
    border: 2px solid #710b5f;
  }
  .button1 {
    background-color: #C93838;
    border: 1px solid rgb(83, 54, 56);
    color: white;
  }


 .requests-text {
    display: flex;
    justify-content: space-around;
    background-color: rgba(60, 212, 63, 0.1);
    padding: .9rem;
    border: 1px solid rgb(235, 232, 232);
    width: 80%;
 }


 .requests-text:hover {
    background: rgba(234, 186, 225, 0.5);
 }
ul {
    list-style-type: none;   
}
.left-area::before {
    content: '\f004';
    font: var(--fa-font-regular);   
    color: rgb(103, 100, 100);
}

.left-area {
  width: 45%;
}
.middle-area {
    width: 20%;
}


.request__deny {
    border: 1px solid grey;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(187, 186, 186);
    padding: .4rem;
    font-size: 1.1rem;
    background-color: rgb(24, 174, 44, 0.9);
    color: white;
}
.requests-subheader {
    display: flex;
    /* justify-content: space-evenly; */
    background-color: rgba(234, 186, 225, 0.5);
    margin-left: 8.1%;
    padding: 1rem;
    font-weight: 400;
    margin-bottom: -20px;
    width: 73.4%;
}
.area-1 {
    width: 40%;
    margin-left: 15%;
    font-size: 1.6rem;
}
.area-2 {
    font-size: 1.6rem;
    margin-left: 3%;
}
.requests-header {
    font-size: 2.5rem;
    margin-left: 8.2%;
 
}
.reservation-area {
    margin-left: 6%;
    margin-bottom: 10%;
  
}

.lollipop-img {
    width: 15%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}